body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(179,179,179);
  background: linear-gradient(0, rgba(179,179,179,1) 0%, rgba(52,52,61,1) 48%, rgba(0,0,0,1) 100%);
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin: 0;
  padding: 30px 0;
  color: #fbfbfb;
}

p {
  margin: 0;
  padding: 10px 0;
  color: #fbfbfb;
}

.music {
  display: flex;
  gap: 30px;
}

.music-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.music-button {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fbfbfb;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.6), 5px 5px 15px rgba(255, 255, 255, 0.6);
  cursor: pointer;
  padding-left: 5px;
  transition: .2s ease-in-out;
}

.music-button img {
  width: 40%;
  height: auto;
}

.music-button.animate {
  animation: buttonClicked 0.3s ease-in-out;
}

@keyframes buttonClicked {
  50% {
    transform: scale(95%);
  }
  100% {
    transform: scale(100%);
  }
}

.audio-block {
  padding-top: 50px;
}

#myAudio {
  width: 600px;
}

.speed-block {
  padding: 0 20px 10px;
}

.speed-block input {
  width: 500px;
  margin: 0;
}

#resetButton {
  width: 10%;
  height: 40px;
  border-radius: 20px;
  border: 0;
  color: #fbfbfb;
  background-color: rgb(241, 48, 48);
  box-shadow: 0 0 20px rgba(244, 47, 47, 0.804);
  cursor: pointer;
  transition: .3s ease-in-out;
}

#resetButton:hover {
  background-color: rgba(244, 47, 47, 0.804);
}